$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-fira-sans: Fira Sans,Helvetica Neue,Helvetica,Calibri,Arial;
$color-black: #363B48;
$color-blue: #4899f1;
$color-dark-blue: #25335a;
$color-dark-pink: #890c58;
$color-gray: #585e6f;
$color-mint: #96ffe9;
$color-pink: #f70c60;
$color-white: #ffffff;
$color-red: #F70C0C;
$color-blog-body: #505D68;

$figure-pink: #D34082;
$figure-purple: #BC6EE5;
$figure-blue: #559DE5;
$figure-green: #67E6BF;

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

$animate: all 0.2s ease-in-out;

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

// Mixins
// --------------------------

@mixin fa-icon {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
}

@mixin fa-icon-rotate($degrees, $rotation) {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})";
	transform: rotate($degrees);
}

@mixin fa-icon-flip($horiz, $vert, $rotation) {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)";
	transform: scale($horiz, $vert);
}


// Only display content to screen readers. A la Bootstrap 4.
//
// See: http://a11yproject.com/posts/how-to-hide-content/

@mixin sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Use in conjunction with .sr-only to only display content when it's focused.
//
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
//
// Credit: HTML5 Boilerplate

@mixin sr-only-focusable {
	&:active,
	&:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}
